<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoLibRouter"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService" 
                name="GeoLibRouter" />
      <endpoint address="net.tcp://localhost:8009/GeoLibRouterBroadcast"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="GeoLibRouterBroadcast" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:45:00" maxReceivedMessageSize="2000000" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
