<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="net.tcp://localhost:8009/GeoLibRouter"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" 
                  name="router1" />
        <endpoint address="net.tcp://localhost:8009/GeoLibRouterBroadCast"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.ISimplexDatagramRouter" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <routing filterTableName="GeoLibRoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:45:00" maxReceivedMessageSize="2000000" />
      </netTcpBinding> 
    </bindings>

    <routing>
      <filters>
        <!--<filter name="filter1" filterType="EndpointName" filterData="router1" />-->
        <filter name="filterForNJ" filterType="Custom"
                customType="GeoLib.RoutingHost.CustomContentFilter,GeoLib.RoutingHost" 
                filterData="NJ"/>
        <filter name="filterElse" filterType="MatchAll" />
        <filter name="broadcastFilter" filterType="Action"
                filterData="http://WCFPowerTopics/broadcast" />
      </filters>
      <filterTables>
        <filterTable name="GeoLibRoutingTable">
          <add filterName="filterForNJ" endpointName="GeoLibService1" priority="1" backupList="Host1FailOver" />
          <add filterName="filterElse" endpointName="GeoLibService2" priority="0" />
          <add filterName="broadcastFilter" endpointName="GeoLibService1" priority="2" />
          <add filterName="broadcastFilter" endpointName="GeoLibService2" priority="2" />
          <add filterName="broadcastFilter" endpointName="GeoLibService1_Backup1" priority="2" />
        </filterTable>
      </filterTables>
      <backupLists>
        <backupList name="Host1FailOver">
          <add endpointName="GeoLibService1_Backup1" />
        </backupList>
      </backupLists>
    </routing>

    <client>
      <endpoint address="net.tcp://localhost:8901/GeoService"
                binding="netTcpBinding"
                contract="*" 
                name="GeoLibService1" />
      <endpoint address="net.tcp://localhost:8902/GeoService"
                binding="netTcpBinding"
                contract="*"
                name="GeoLibService2" />
      <endpoint address="net.tcp://localhost:8911/GeoService"
                binding="netTcpBinding"
                contract="*"
                name="GeoLibService1_Backup1"/>
    </client>
    
  </system.serviceModel>
    
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>
